{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/cinepolis.css') }}">

<form method="post" novalidate>

    {{ form.hidden_tag() }}

<div class="contenedor">

    <div class="titulo">Cinépolis</div>

    <div class="panel entradas">
        <h3>Entradas</h3>

        {{ macros.campoNuevo(form.nombre, class="form-control") }}
        {{ macros.campoNuevo(form.compradores, class="form-control") }}

        {{ macros.campoNuevo(form.tarjeta) }}

        {{ macros.campoNuevo(form.boletos, class="form-control") }}
    </div>

    <div class="panel salidas">
        <h3>Salidas</h3>

        <label>Valor a Pagar</label>
        <input type="text" value="{{ total if total else '' }}" readonly>
    </div>

    {% if error %}
    <div class="panel salidas">
        <h5>Error: {{ error }}</h5>
    </div>
    {% endif %}

    <div class="panel acciones">
        <button type="submit">Procesar</button>
        <a href="/" class="btn-salir">Salir</a>
    </div>

</div>

</form>

{% endblock %}
